<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <% products.forEach(function (product) { %>
        <div class="product">
            <p>name:
                <%= product.name %>
            </p>
            <p>price:
                <%= product.price %>
            </p>
        </div>
        <% }) %>
</body>

</html>